<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"> 
 
  <%= link_to 'Firstapp', root_path, class:"navbar-brand" %>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <%= link_to 'Topic',topics_path, class:"nav-link" %>
      
        
        <%= link_to 'ADD Topic' ,new_topic_path,  class:"nav-link" %>
       
        
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
 
</nav>